flows (2).json
[{"id":"98006eb5.151ad","type":"tab","label":"Prediction flow","disabled":false,"info":""},{"id":"2cf6255a.5cedda","type":"ui_form","z":"98006eb5.151ad","name":"","label":"Enter the details:","group":"d928c88a.f55f08","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Status","value":"b","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"c","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"e","type":"number","required":true,"rows":null},{"label":"Healthcare Expenditure","value":"f","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"g","type":"number","required":true,"rows":null},{"label":"Measles","value":"h","type":"number","required":true,"rows":null},{"label":"BMI","value":"i","type":"number","required":true,"rows":null},{"label":"Under-Five Deaths","value":"j","type":"number","required":true,"rows":null},{"label":"Polio","value":"k","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"l","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"m","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"n","type":"number","required":true,"rows":null},{"label":"GDP","value":"o","type":"number","required":true,"rows":null},{"label":"Population","value":"p","type":"number","required":true,"rows":null},{"label":"Thinness 1-19 years","value":"q","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 years","value":"r","type":"number","required":true,"rows":null},{"label":"Income","value":"s","type":"number","required":true,"rows":null},{"label":"Schooling","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":110,"y":140,"wires":[["1c84fc75.8583f4"]]},{"id":"1c84fc75.8583f4","type":"function","z":"98006eb5.151ad","name":"Pre token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\nvar apikey=\"Zqasv0K4GpfTNoPGxc3hHvyqvj0iAYo6B_IRj1ontw1i\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":140,"wires":[["d997f06b.fde78"]]},{"id":"2c43ec39.361664","type":"function","z":"98006eb5.151ad","name":"Send to endpoint","func":"var token=msg.payload.access_token;\nvar instance_id=\"3fed0e3a-8e67-45a4-b7e9-47f2a5be7f59\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\n\nmsg.payload = \n{\"fields\":[\"Year\",\"Status\",\"Adult Mortality\", \"Infant deaths\", \"Alcohol\",\n        \"Health expenditure\", \"Hepatitis B\",\n       \"Measles \", \"BMI \", \"Under-five deaths\", \"Polio\", \"Total expenditure\",\n       \"Diphtheria\", \"HIV/AIDS\", \"GDP\", \"Population\",\n       \"Thinness 1-19 years\", \"Thinness 5-9 years\",\n       \"Income\", \"Schooling\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":320,"wires":[["9d2bef09.6a60d"]]},{"id":"c03fd5e2.317ba8","type":"function","z":"98006eb5.151ad","name":"Get from endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":360,"wires":[["bbc1ca7a.d7bfb8","2168b638.260eaa"]]},{"id":"d997f06b.fde78","type":"http request","z":"98006eb5.151ad","name":"Get a token","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":550,"y":140,"wires":[["2c43ec39.361664"]]},{"id":"9d2bef09.6a60d","type":"http request","z":"98006eb5.151ad","name":"Get access","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/3fed0e3a-8e67-45a4-b7e9-47f2a5be7f59/deployments/2a19ccfb-a9e3-4cc7-9cf0-42a1b73d7163/online","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":320,"wires":[["c03fd5e2.317ba8","a7e0ffc7.11a4b"]]},{"id":"a7e0ffc7.11a4b","type":"debug","z":"98006eb5.151ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":220,"wires":[]},{"id":"2168b638.260eaa","type":"debug","z":"98006eb5.151ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":300,"wires":[]},{"id":"bbc1ca7a.d7bfb8","type":"ui_text","z":"98006eb5.151ad","group":"d928c88a.f55f08","order":1,"width":0,"height":0,"name":"Predicted Value","label":"Predicted Value: ","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":360,"wires":[]},{"id":"d928c88a.f55f08","type":"ui_group","z":"","name":"Default","tab":"de0abc3d.7d547","order":2,"disp":true,"width":"6","collapse":false},{"id":"de0abc3d.7d547","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]